header {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 74%;
    position: absolute;
    height: 80px;
    float: right;
    margin-left: 26%;
    border: 2px solid #dedcde;
}

input {
    width: 84%;
    font-size: 1.4em;
}

button {
    width: 15%;
    font-size: 0.95em;
}