.news-article {
    background-color: white;
    border: 2px solid #bababa;
    height: 60%;
    width: 48%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

img {
    height: 45%;
    width: 100%;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    padding: 10px;
    text-align: justify;
    font-size: 0.9em;
}

a {
    padding: 15px;
}