.news-article {
    background-color: white;
    border: 2px solid black;
    height: 400px;
    width: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

img {
    height: 45%;
    width: 100%
}

h3 {

}

p {

}

a {

}